main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #3d2c4b;
  --secondary: #c38eee;
  --tertiary: #04a5b1;
  --light: #eef1a7;
  --dark: #211c25;
  --darker: #140d1a;
  --error: rgb(73, 1, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 10;
  padding: 10;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background: var(--dark);
  color: var(--light);
  font-family: 'Poiret One', cursive;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--dark);
  text-align: center;
}

header a {
  color: var(--secondary);
    
}

footer {
  background: var(--secondary);
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--primary);
  width: 100%;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--primary);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
}

nav a:hover {
  text-decoration: var(--secondary);
}

nav li {
  cursor: pointer;
  text-align: center;
}

nav {
  text-align: center;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.thumbnail {
  flex: 1;
  margin: 20px;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  position: relative;
}

.img-thumbnail::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  background-image: linear-gradient(180deg, rgba(192, 164, 218, 0.3) 0%, rgb(83, 63, 88) 100%);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s linear;
}

.img-thumbnail h3 {
  font-size: 28px;
  position: relative;
  top: 200px;
  transition-duration: .6s;
  transition-timing-function: ease-in-out;
  margin-bottom: 5px;
  z-index: 1;
}

.img-thumbnail h4 {
  font-weight: lighter;
  font-size: 22px;
  position: relative;
  z-index: 1;
  top: 200px;
  transition-duration: .6s;
  transition-delay: .2s;
  transition-timing-function: ease-in-out;
}

.thumbnail:hover .img-thumbnail::after {
  opacity: 1;
  
}

.thumbnail:hover .img-thumbnail h3, .thumbnail:hover .img-thumbnail h4 {
  transform: translateY(-200px);
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--secondary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--secondary);
}
